/bin/sqldiff.exe
/bin/sqlite3.exe
/bin/sqlite3_analyzer.exe
/bin/sqlite-tools-win-x64-3460100.zip

/csv/1990VAERSDATA.csv
/csv/1990VAERSSYMPTOMS.csv
/csv/1990VAERSVAX.csv
/csv/1991VAERSDATA.csv
/csv/1991VAERSSYMPTOMS.csv
/csv/1991VAERSVAX.csv
/csv/1992VAERSDATA.csv
/csv/1992VAERSSYMPTOMS.csv
/csv/1992VAERSVAX.csv
/csv/1993VAERSDATA.csv
/csv/1993VAERSSYMPTOMS.csv
/csv/1993VAERSVAX.csv
/csv/1994VAERSDATA.csv
/csv/1994VAERSSYMPTOMS.csv
/csv/1994VAERSVAX.csv
/csv/1995VAERSDATA.csv
/csv/1995VAERSSYMPTOMS.csv
/csv/1995VAERSVAX.csv
/csv/1996VAERSDATA.csv
/csv/1996VAERSSYMPTOMS.csv
/csv/1996VAERSVAX.csv
/csv/1997VAERSDATA.csv
/csv/1997VAERSSYMPTOMS.csv
/csv/1997VAERSVAX.csv
/csv/1998VAERSDATA.csv
/csv/1998VAERSSYMPTOMS.csv
/csv/1998VAERSVAX.csv
/csv/1999VAERSDATA.csv
/csv/1999VAERSSYMPTOMS.csv
/csv/1999VAERSVAX.csv
/csv/2000VAERSDATA.csv
/csv/2000VAERSSYMPTOMS.csv
/csv/2000VAERSVAX.csv
/csv/2001VAERSDATA.csv
/csv/2001VAERSSYMPTOMS.csv
/csv/2001VAERSVAX.csv
/csv/2002VAERSDATA.csv
/csv/2002VAERSSYMPTOMS.csv
/csv/2002VAERSVAX.csv
/csv/2003VAERSDATA.csv
/csv/2003VAERSSYMPTOMS.csv
/csv/2003VAERSVAX.csv
/csv/2004VAERSDATA.csv
/csv/2004VAERSSYMPTOMS.csv
/csv/2004VAERSVAX.csv
/csv/2005VAERSDATA.csv
/csv/2005VAERSSYMPTOMS.csv
/csv/2005VAERSVAX.csv
/csv/2006VAERSDATA.csv
/csv/2006VAERSSYMPTOMS.csv
/csv/2006VAERSVAX.csv
/csv/2007VAERSDATA.csv
/csv/2007VAERSSYMPTOMS.csv
/csv/2007VAERSVAX.csv
/csv/2008VAERSDATA.csv
/csv/2008VAERSSYMPTOMS.csv
/csv/2008VAERSVAX.csv
/csv/2009VAERSDATA.csv
/csv/2009VAERSSYMPTOMS.csv
/csv/2009VAERSVAX.csv
/csv/2010VAERSDATA.csv
/csv/2010VAERSSYMPTOMS.csv
/csv/2010VAERSVAX.csv
/csv/2011VAERSDATA.csv
/csv/2011VAERSSYMPTOMS.csv
/csv/2011VAERSVAX.csv
/csv/2012VAERSDATA.csv
/csv/2012VAERSSYMPTOMS.csv
/csv/2012VAERSVAX.csv
/csv/2013VAERSDATA.csv
/csv/2013VAERSSYMPTOMS.csv
/csv/2013VAERSVAX.csv
/csv/2014VAERSDATA.csv
/csv/2014VAERSSYMPTOMS.csv
/csv/2014VAERSVAX.csv
/csv/2015VAERSDATA.csv
/csv/2015VAERSSYMPTOMS.csv
/csv/2015VAERSVAX.csv
/csv/2016VAERSDATA.csv
/csv/2016VAERSSYMPTOMS.csv
/csv/2016VAERSVAX.csv
/csv/2017VAERSDATA.csv
/csv/2017VAERSSYMPTOMS.csv
/csv/2017VAERSVAX.csv
/csv/2018VAERSDATA.csv
/csv/2018VAERSSYMPTOMS.csv
/csv/2018VAERSVAX.csv
/csv/2019VAERSDATA.csv
/csv/2019VAERSSYMPTOMS.csv
/csv/2019VAERSVAX.csv
/csv/2020VAERSDATA.csv
/csv/2020VAERSSYMPTOMS.csv
/csv/2020VAERSVAX.csv
/csv/2021VAERSDATA.csv
/csv/2021VAERSSYMPTOMS.csv
/csv/2021VAERSVAX.csv
/csv/2022VAERSDATA.csv
/csv/2022VAERSSYMPTOMS.csv
/csv/2022VAERSVAX.csv
/csv/2023VAERSDATA.csv
/csv/2023VAERSSYMPTOMS.csv
/csv/2023VAERSVAX.csv
/csv/2024VAERSDATA.csv
/csv/2024VAERSSYMPTOMS.csv
/csv/2024VAERSVAX.csv
/csv/2025VAERSDATA.csv
/csv/2025VAERSSYMPTOMS.csv
/csv/2025VAERSVAX.csv
/csv/NonDomesticVAERSDATA.csv
/csv/NonDomesticVAERSSYMPTOMS.csv
/csv/NonDomesticVAERSVAX.csv
/csv/Schema.ini

/zip/NonDomesticVAERSDATA.zip
/zip/1990VAERSData.zip
/zip/1991VAERSData.zip
/zip/1992VAERSData.zip
/zip/1993VAERSData.zip
/zip/1994VAERSData.zip
/zip/1995VAERSData.zip
/zip/1996VAERSData.zip
/zip/1997VAERSData.zip
/zip/1998VAERSData.zip
/zip/1999VAERSData.zip
/zip/2000VAERSData.zip
/zip/2001VAERSData.zip
/zip/2002VAERSData.zip
/zip/2003VAERSData.zip
/zip/2004VAERSData.zip
/zip/2005VAERSData.zip
/zip/2006VAERSData.zip
/zip/2007VAERSData.zip
/zip/2008VAERSData.zip
/zip/2009VAERSData.zip
/zip/2010VAERSData.zip
/zip/2011VAERSData.zip
/zip/2012VAERSData.zip
/zip/2013VAERSData.zip
/zip/2014VAERSData.zip
/zip/2015VAERSData.zip
/zip/2016VAERSData.zip
/zip/2017VAERSData.zip
/zip/2018VAERSData.zip
/zip/2019VAERSData.zip
/zip/2020VAERSData.zip
/zip/2021VAERSData.zip
/zip/2022VAERSData.zip
/zip/2023VAERSData.zip
/zip/2024VAERSData.zip
/zip/2025VAERSData.zip

/build-db2.zip
/VAERS.db
